<div>
    <div class="submit-form">
        <div *ngIf="!submitted">
            <div class="form-group">
                <label>Username:</label>
                <input type="text" class="form-control"
                id="username" 
                required
                [(ngModel)] ="user.username"
                name="username"
                >
            </div>
            <br/>
            <div class="form-group">
                <label>Userage:</label>
                <input type="number" class="form-control"
                id="userage" 
                required
                [(ngModel)] ="user.userage"
                name="userage"
                >
            </div>
            <br/>
            <div class="form-group">
                <label>Adult: &nbsp;&nbsp; &nbsp; </label>
                <input type="checkbox" class="form-control-checkbox"
                id="isadult" 
                required
                [(ngModel)] ="user.isAdult"
                [checked] = "user.isAdult"
                name="isAdult"
                > 
            </div>
            <br/>
            <br/>
            <button (click)="saveUser()" class="btn btn-success">Create User</button>
        </div>
        <div *ngIf="submitted">
                <h4> User was created successfully !</h4>
                <button class="btn btn-primary" (click)="newUser()"> Add another User </button>
        </div>
    </div>
</div>