<div>
    <div *ngIf="selectedUser.id" class="edit-form">
        <h4>
            User Information
        </h4>
        <form>
            <div class="form-group">
                <label>User ID:</label>
                <input type="text" class="form-control"
                id="userid"
                readonly
                [(ngModel)] = "selectedUser.id"
                name="userid">
            </div>
            <div class="form-group">
                <label>Username:</label>
                <input type="text" class="form-control"
                id="username"
                [(ngModel)] = "selectedUser.username"
                name="username">
            </div>
            <div class="form-group">
                <label>User Age:</label>
                <input type="number" class="form-control"
                id="userage"
                [(ngModel)] = "selectedUser.userage"
                name="userage">
            </div>
            <div class="form-group">
                <label>Adult: </label>
                <input type="checkbox" 
                class= "form-check-input"
                [checked]="selectedUser.isAdult" [(ngModel)] = "selectedUser.isAdult"
                name = "isAdult"/>
            </div>
            <br/>
            <button type="submit" (click)="updateUser()" class="btn btn-outline-primary"> Update </button> &nbsp;&nbsp;&nbsp;&nbsp;
            <button type="submit" (click)="deleteUser()" class="btn btn-outline-danger"> Delete </button>
            <br/>
            <div *ngIf="message" class="alert alert-success">
            <strong>{{message}}</strong>
        </div>
            
        </form>
    </div>
</div>